<html>

<head>
    <title>Бронирования</title>

    {% macro render_table(table_name, relation) %}
    <p>
        <b>{{table_name}} </b>
    <table>
        <tr>
            {% for name in relation.dtypes.index %}
            <th>{{name}}</th>
            {% endfor %}
        </tr>

        <tbody>
        <!-- для всех строк таблицы -->
        {% for i in range(relation.__len__()) %}
        <tr>
            <!-- выводим значение каждого столбца -->
            {% for name in relation.dtypes.index %}
            <td> {{ relation.loc[i, name] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </p>
    {% endmacro %}

    {% macro render_combo_box(box, header, needed_id, naming) %}
    <p>
    <form>
        {{header}}
        <select name={{naming}}>
            {% set n = len(box) %}
            {% for i in range(n) %}
            {% set id_r = box.loc[i, naming+"_id"] %}
            {% if id_r == needed_id %}
            <option selected value={{id_r}}>
                {% else %}
            <option value={{id_r}}>
                {% endif %}
                {{ box.loc[i, naming+"_name"] }}
            </option>
            {% endfor %}
        </select>
        <input type="submit" value="Найти">
    </form>
    </p>
    {% endmacro %}
</head>

<body>
{{render_combo_box(df_room_type,"Тип комнаты",type_room,"type_room")}}
{{render_combo_box(df_status,"Статус",status_id,"status")}}
{{render_table("Заселения", df_expect_guest)}}
</body>

</html>